.container {
  font-family: "Poppins", sans-serif;
  background: #000;
  height: 100vh;
  overflow: hidden;
}

.texto {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 18px;
  // letter-spacing: -1px;
  text-shadow: 0 0 10px rgba(250, 250, 250, 0.3);
  line-height: 1.3rem;
  background: url("../../img/img9.jpg") no-repeat center / cover;
  width: 100%;
  height: 100vh;
  background-clip: text;
  text-align: center;
  // color: transparent;
  filter: contrast(1);
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("../../img/img9.jpg") no-repeat center / cover;
  background-attachment: fixed;
  filter: contrast(2);
}
